@charset "UTF-8";

// Vendors
@import "~@/assets/scss/vendors/normalize";
@import "~@/assets/scss/vendors/reset";

// Base
@import "~@/assets/scss/base/fonts";

// Component
@import "~@/assets/scss/components/review-scoreboard";
@import "~@/assets/scss/components/gnb-icon-buttons";
@import "~@/assets/scss/components/gnb-nav";
@import "~@/assets/scss/components/checkout-card";
@import "~@/assets/scss/components/home-section";
@import "~@/assets/scss/components/product-detail";
@import "~@/assets/scss/components/product-small";
@import "~@/assets/scss/components/product-info";
@import "~@/assets/scss/components/member-card";
@import "~@/assets/scss/components/review-modal";
@import "~@/assets/scss/components/review-card";
@import "~@/assets/scss/components/pagination";
@import "~@/assets/scss/components/my-menu";
@import "~@/assets/scss/components/swiper";
@import "~@/assets/scss/components/order-form";
@import "~@/assets/scss/components/product-size";

// Layout
@import "~@/assets/scss/layout/product-recommendation";
@import "~@/assets/scss/layout/product";
@import "~@/assets/scss/layout/global-header";
@import "~@/assets/scss/layout/header";
@import "~@/assets/scss/layout/sidebar";
@import "~@/assets/scss/layout/overlay";
@import "~@/assets/scss/layout/footer";
@import "~@/assets/scss/layout/figcaption";
@import "~@/assets/scss/layout/figure";
@import "~@/assets/scss/layout/member-list";
@import "~@/assets/scss/layout/cart";
@import "~@/assets/scss/layout/slide";

// Modules
@import "~@/assets/scss/modules/buttons";
@import "~@/assets/scss/modules/rating";
@import "~@/assets/scss/modules/select-picture";
@import "~@/assets/scss/modules/prices";
