.slide-figcaption {
  position: relative;
  width: 100%;
  height: 240px;
  text-align: center;

  &-container {
    @include pos-center(X);
  }

  &-text {
    margin-top: 56px;
    h2 {
      margin: 16px 0;
    }
  }

  &-btn {
    margin-top: 16px;
    a {
      width: 100px;
      border-radius: 980px;
    }
  }
}
