.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 100vh;
  background-color: rgbar($primary, 0.5);
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(10px);
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
