.sign {
  @include pos-center;
  height: 100%;

  &-header {
    @include text-style(18);
    text-align: center;
    margin-top: 64px;
    margin-bottom: 26px;
  }

  &-line-top {
    width: 280px;
    height: 1px;
    background-color: $tertiary;
    margin-bottom: 16px;
  }

  &-member-id,
  &-member-password,
  &-member-password-confirm,
  &-member-name {
    margin-left: 12px;
    margin-bottom: 16px;
    width: 256px;
    height: 46px;
    border: 1px solid $border;
    border-radius: 4px;

    ::placeholder {
      color: $tertiary;
      font-size: 14px;
    }

    input {
      padding: 10px;
    }
  }

  &-line-bottom {
    width: 280px;
    height: 1px;
    background-color: $tertiary;
    margin-bottom: 16px;
  }

  .btn-black {
    width: 256px;
    margin-left: 12px;
  }
}
