.swiper-container {
  padding: 0 20px;
  img {
    margin-top: 24px;
    height: 240px;
    width: 100%;
    border-radius: 8px;
    transition: transform 200ms ease-in-out;
  }

  &:before,
  &:after {
    display: block;
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    z-index: 10;
    content: "";
  }
  &:before {
    left: 0;
    background: linear-gradient(
      90deg,
      #fff -20.19%,
      rgba(255, 255, 255, 0.8) 18.31%,
      rgba(255, 255, 255, 0) 75%
    );
  }
  &:after {
    right: 0;
    background: linear-gradient(
      270deg,
      #fff -20.19%,
      rgba(255, 255, 255, 0.8) 18.31%,
      rgba(255, 255, 255, 0) 75%
    );
  }

  .swiper-wrapper {
    .swiper-slide {
      width: auto;
      min-width: 56px;
      padding: 0px 8px;
      font-size: 14px;
      line-height: 36px;
      text-align: center;
      color: #84868c;
      border: 0;
      border-radius: 18px;
      appearance: none;
      cursor: pointer;
      &[aria-selected="true"] {
        color: #fff;
        background: #000;
      }
    }
  }
}

@include responsive(D) {
  .swiper a:hover {
    img {
      transform: translate(0%, 0%) scale(1.1);
    }
  }
}
