.menubar {
    padding-top: 100px;
    padding-left: 40px;
}
.nav-menu{
    position: absolute;
    top:3%;
    left:1%;
}
.logo {
    font-family: "Cinzel Decorative";
    font-size: 40px;
    margin: 0 auto;
}
.account {
    padding-left: 40vw;
}
.login-locate {
    padding: 10px 0px 10px 0px;
    position: absolute;
    right: 0.5%;
    top:1%;
}
.home-btn{
    padding: 10px 0px 10px 0px;
    position: absolute;
    right: 5%;
    top:22%;
}